<div class="d-flex flex-column">
    <header-main description="TODO LIST"></header-main>

    <!-- Main Body Starts -->
    <section>
        <h3>{{vm.displaylist.name}}'s Tasks </h3>
        <table class="table table-striped">
            <tr>
                <th>Task</th>
                <th>Due Date</th>
                <th>Description</th>
                <th>Status</th>
            </tr>

            <tr ng-repeat="obj  in vm.displaylist.todolist track by $index">
                <td>{{ obj.task }}</td>
                <td>{{ obj.duedate }}</td>
                <td>{{ obj.description }}</td>
                <td>{{ obj.status }}</td>
            </tr>
        </table>
    </section>
    <!-- Main Body Ends -->

    <!-- Footer Starts -->
    <footer-custom>
        <div class="col-6 col-lg-5 col-xl-4 btn-center">
            <button type="button" class="btn btn-block btn-custom" ng-click="vm.gotoaddtask()">ADD TASK HERE</button>
        </div>
        <div class="col-6 col-lg-5 col-xl-4 btn-center">
            <button type="button" class="btn btn-block btn-custom" ng-click="vm.logout()">LOGOUT</button>
        </div>
    </footer-custom>
    <!-- Footer Ends -->
</div>