<div class="d-flex flex-column">
    <header-main description="LETS START ..."></header-main>

    <!-- Main Body Starts -->
    <section>
        <img src="../images/banner1.png" class="banner-img">
    </section>
    <!-- Main Body Ends -->

    <!-- Footer Starts -->
    <footer-custom>
        <div class="col-6 col-lg-5 col-xl-4 btn-center">
            <button type="button" class="btn btn-block btn-custom" ng-click="home.gotoregister()">REGISTER HERE</button>
        </div>
        <div class="col-6 col-lg-5 col-xl-4 btn-center">
            <button type="button" class="btn btn-block btn-custom" ng-click="home.gotologin()">LOGIN HERE</button>
        </div>
    </footer-custom>
    <!-- Footer Ends -->
</div>