<div class="d-flex flex-column">
    <header-main description="Welcome!"></header-main>

    <!-- Main Body Starts -->
    <section>
        <img src="../images/banner.jpg" class="banner-img">
    </section>
    <!-- Main Body Ends -->

    <!-- Footer Starts -->
    <footer class="d-flex justify-content-center">
        <div class="col-lg-5 col-xl-4 btn-center">
            <button type="button" class="btn btn-block btn-custom" ng-click="home.gotoregister()">REGISTER HERE</button>
        </div>
        <div class="col-lg-5 col-xl-4 btn-center">
            <button type="button" class="btn btn-block btn-custom" ng-click="home.gotologin()">LOGIN HERE</button>
        </div>
    </footer>
    <!-- Footer Ends -->
</div>